**/*
!package.json
!README.md
!LICENSE
!dist/extension.js
!dist/view.js
!dist/microphone.py
!dist/AiDiy.png
!dist/sending.png
!media/index.html
!media/style.css
!media/capture.js
!media/microphone.png
!media/speaker.png

!dist/development/**
