:root {
  --vscode-sideBar-background:#181818; --vscode-foreground:#ddd;
  --vscode-font-family:"Segoe UI","Yu Gothic UI",sans-serif; --vscode-font-size:13px;
  --vscode-descriptionForeground:#aaa; --vscode-button-background:#0078d4;
  --vscode-button-foreground:#fff; --vscode-button-hoverBackground:#026ec1;
  --vscode-panel-border:#333; --vscode-input-background:#222; --vscode-input-foreground:#ddd;
  --vscode-input-border:#444; --vscode-focusBorder:#0078d4; --vscode-textLink-foreground:#6cb6ff;
  --vscode-toolbar-hoverBackground:#333; --vscode-textBlockQuote-background:#242424;
  --vscode-textCodeBlock-background:#111; --vscode-errorForeground:#f88;
  --vscode-editor-font-family:Consolas,monospace;
}
body { max-width:960px; margin:auto; }
html { background:var(--vscode-sideBar-background); }
#standalone-actions { display:block; }
